body{
    background-image: linear-gradient(to right, blue, purple, red, yellow, orange);
}

.feather{
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}

.judul-kategori{
    background-image: radial-gradient(circle, white, cyan);
    color: darkviolet;
    font-weight: bolder;
}

.card:hover{
    border: 4px solid black;
}

.shortcut-icon-1{
    length: 80px;
    width: 80px;
}

.copyright{
    color: blue;
}

.copyright-1{
    color: blue;
    font-size: 18px;
}