body{
    background: linear-gradient(to right,#009bff, #2ed0ff, #3A00FF);
}

.feather{
    width: 25px;    
    height: 25px;
    vertical-align: text-bottom;
}
 
.img-categori{
    width: 50px;
}

.row-container{
    background-color: yellowgreen;
    font-family: Arial, Helvetica, serif;
    color: crimson;
    margin: 0px;
}

.mt-3{
    color: rgb(11, 119, 7);
    font-style: oblique;
    text-align: center;
}

.judul-kategori-1{
    background-color: yellowgreen;
    color: blue;
    padding: 5px 10px;
    font-style: italic;
}

.judul-kategori-2{
    background-color: cyan;
    color: red;
    padding: 5px 10px;
    font-style: italic;
}

.text-center{
    margin-top: 5px;
}

.card-title{
    color: blue;
}

.card-text-1{
    text-decoration: line-through;
    color: black;
}

.card-text-2{
    color: blue;
}

.card:hover{
    border: 3px solid black;
}

.shortcut-icon-1{
    length: 80px;
    width: 80px;
}

.copyright{
    color: blue;
}

.copyright-1{
    color: blue;
    font-size: 18px;
}